<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ALLinONE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <ALLinONE.Properties.Settings>
            <setting name="pathPsExec" serializeAs="String">
                <value>C:\Windows\System32</value>
            </setting>
            <setting name="remaccBtnQuestion" serializeAs="String">
                <value>Тут может использоваться PsExec. Нужно указать к нему путь.</value>
            </setting>
            <setting name="startTab" serializeAs="String">
                <value />
            </setting>
            <setting name="timeClean" serializeAs="String">
                <value>5555</value>
            </setting>
        </ALLinONE.Properties.Settings>
    </userSettings>
</configuration>